In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv('/content/drive/MyDrive/study_performance.csv')

In [5]:
df

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

# Measure Of central tendency
 Is an discriptive statistics.
 1. mean:

 population = μ = ∑xi/N

 sample = x̄ =  ∑xi/n

 2. median:

 i.when no. is even then add middle two no.& divide by 2

 ii.when no. is odd then take middle no.

 3. mode:

  frequent element/no occurs in data

# Mean

In [15]:
#mean
#population = μ = ∑xi/N
#sample = x̄ =  ∑xi/n
mean1 = df['math_score'].mean()
print(f"mean of math_score: {mean1}")

mean2 = df['reading_score'].mean()
print(f"mean of the reading_score: {mean2}")

mean3 = df['writing_score'].mean()
print(f"mean of the writing_score: {mean3}")

mean of math_score: 66.089
mean of the reading_score: 69.169
mean of the writing_score: 68.054

# Median

In [16]:
#Median
#when no. is even then add middle two no.& divide by 2
#when no. is odd then take middle no.

median1 = df['math_score'].median()
print(f"mean of math_score: {median1}")

median2 = df['reading_score'].median()
print(f"mean of the reading_score: {median2}")

median3 = df['writing_score'].median()
print(f"mean of the writing_score: {median3}")

mean of math_score: 66.0
mean of the reading_score: 70.0
mean of the writing_score: 69.0

# Mode

In [17]:
# mode
# frequent element/no occurs in data

mode1 = df['math_score'].mode()
print(f"mean of math_score: {mode1}")

mode2 = df['reading_score'].mode()
print(f"mean of the reading_score: {mode2}")

mode3 = df['writing_score'].mode()
print(f"mean of the writing_score: {mode3}")

mean of math_score: 0    65
Name: math_score, dtype: int64
mean of the reading_score: 0    72
Name: reading_score, dtype: int64
mean of the writing_score: 0    74
Name: writing_score, dtype: int64