In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/drive/MyDrive/study_performance.csv')

In [4]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Measure of Dispersion:
#1.Variance:

 avg of squared diff between each data point and the mean.

i.Formula for Population Variance

σ2 = ∑ f (xi − x̅)2 / n

ii.Formula for Sample Variance:

s2 = ∑ f (xi − x̅)2 / n − 1

#2.Standard Deviation:

 degree of dispersion of the data point from the mean value of the data point.

 σ =√∑(Xi−μ)2/N

 Also,

  square root of variance. (Standard deviation = √Variance)

#3.Covariance:
  Cov(x,y) = Σ(x-x)(y-y)/ N

  measure of the relationship between two random variables on their joint variability.

#4.Range:
   Range = Maximum Value - Minimum Value

   difference between the highest and lowest values in a dataset.

In [5]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

# Variance

In [11]:
#variance
mean_score = df['math_score'].mean()
variance_scores = sum((x - mean_score) ** 2 for x in df['math_score']) / len(df['math_score'])
print(f"Variance of math score: {variance_scores}")


mean_score1 = df['reading_score'].mean()
variance_scores1 = sum((x - mean_score1) ** 2 for x in df['reading_score']) / len(df['reading_score'])
print(f"Variance of reading score: {variance_scores1}")


mean_score2 = df['writing_score'].mean()
variance_scores2 = sum((x - mean_score2) ** 2 for x in df['writing_score']) / len(df['writing_score'])
print(f"Variance of writing score: {variance_scores2}")

Variance of math score: 229.68907900000048
Variance of reading score: 212.9524390000001
Variance of writing score: 230.6770839999997

#  Standard Deviation

In [15]:
#standard deviation using the formula σ = √∑(xi−μ)²/n
mean_score = df['math_score'].mean()
std_dev = np.sqrt(((df['math_score'] - mean_score) ** 2).sum() / len(df))
print(f"The standard deviation of math score is: {std_dev}")


mean_score1 = df['reading_score'].mean()
std_dev = np.sqrt(((df['reading_score'] - mean_score1) ** 2).sum() / len(df))
print(f"The standard deviation of reading score is: {std_dev}")


mean_score2 = df['writing_score'].mean()
std_dev = np.sqrt(((df['writing_score'] - mean_score2) ** 2).sum() / len(df))
print(f"The standard deviation of writing score is: {std_dev}")

The standard deviation of math score is: 15.155496659628149
The standard deviation of reading score is: 14.592890015346516
The standard deviation of writing score is: 15.188057281956768

# Co-variance

In [18]:
mean_x = df['math_score'].mean()
mean_y = df['reading_score'].mean()

#formula
covariance = sum((df['math_score'] - mean_x) * (df['reading_score'] - mean_y)) / len(df)

print(f"The covariance between math_score and reading_score is: {covariance}")

The covariance between math_score and reading_score is: 180.81795900000006

In [19]:
mean_x = df['writing_score'].mean()
mean_y = df['reading_score'].mean()

#formula
covariance = sum((df['writing_score'] - mean_x) * (df['reading_score'] - mean_y)) / len(df)

print(f"The covariance between writing_score and reading_score is: {covariance}")

The covariance between writing_score and reading_score is: 211.57487399999985

In [20]:
mean_x = df['writing_score'].mean()
mean_y = df['math_score'].mean()

#formula
covariance = sum((df['writing_score'] - mean_x) * (df['math_score'] - mean_y)) / len(df)

print(f"The covariance between writing_score and math_score is: {covariance}")

The covariance between writing_score and math_score is: 184.7541939999999

# Range

In [21]:
#Range
#Range = Maximum Value - Minimum Value
max_value = df['math_score'].max()
min_value = df['math_score'].min()

# Calculate the range
range_value = max_value - min_value

print(f"The range of math scores is: {range_value}")

The range of math scores is: 100

In [22]:
max_value1 = df['reading_score'].max()
min_value1 = df['reading_score'].min()

# Calculate the range
range_value1 = max_value1 - min_value1

print(f"The range of  reading score is: {range_value1}")

The range of  reading score is: 83

In [24]:
max_value2 = df['writing_score'].max()
min_value2 = df['writing_score'].min()

# Calculate the range
range_value2 = max_value2 - min_value2

print(f"The range of  writing score is: {range_value2}")

The range of  writing score is: 90